body {
	font-family: 'Raleway', sans-serif;
}
.container
{
	text-align: center;
	font-size: 1.5rem;
	top: 0px;
	color: #fff;
}
.container2
{
	text-align: left;
	font-size:1.5rem;
	color: gray;
	font-weight: bold;

}
.image-border {
    border: 5px solid #C0C0C0; 
    border-radius:30%;
}
.header
{

margin: -9px;
padding: 0px;
border: 5px solid;
width: 130px;
height: 60;
text-shadow: 20px;
font-size: 1.5em;
color:gray;
border-color: gray;
}

body{
	background-image: url("На стиле.jpg");

}
.btn{
	text-align: center;
	margin: auto;
	display: block;
	border: 5px solid red;
	background: red;
	width: 300px;
height: 100px;
}
a{
	text-decoration: none;
	color: black;
	font-size: 3em;
	target:_blank;
}